.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px; /* Initial width for small screens */
  background-color: #f8f8f8;
  transition: width 0.3s ease-in-out;
}

.sidebar.expanded {
  width: 100%; /* Expanded width for large screens */
  max-width: 280px; /* Maximum width for small screens */
}


@media (max-width: 767px) {
  /* Styles for small screens */
  .sidebar {
    width: 60px; /* Width for partially shown sidebar */
  }

  .sidebar.expanded {
    width: 280px; /* Width for fully expanded sidebar */
  }
}
